* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.clear {
	zoom:1;
}

body {
	overflow-x: hidden;
}

/* Отступы между секциями */
section {
	padding: 50px 0;
}

header {
	margin-bottom: 50px;
}

footer {
	margin-top: 50px;
}
/* --------------------  */

.mid {
	text-align: center;
}

.row.slim {
	line-height: 0;
}

.row.slim > [class^="col-"], .slim > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a {
	padding-bottom: 5px;
	display: inline-block;
	color: #004040;
}

a, a:link, a:visited, a:hover, a:active  {
	text-decoration: none;
}

.but {
    background-color: #526aa5;
    color: white !important;
	padding: 20px 40px;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
    transition: background-color .6s;
}

.but:hover {
    background-color: #475f9a;
}

a.tag {
	display: inline-block !important;
    margin: 10px 15px 0 5px;
}

a.tag:hover {
	color: #526aa5;

}

.tag:first-child, .tag.no_active:first-child {
	margin-left: 0;
}
.tag:last-child, .tag.no_active:last-child {
	margin-right: 0;
}


.tag.no_active {
	display: inline-block;
    border-radius: 3px;
    margin: 10px 5px 0 5px;
	color: #c5c5c5;
}
a.hashtag {
	color: #7676ff;
}
a.hashtag:hover {
	color: #4747ff;
}
.top_nav a:hover, .menu a:hover { 
	color: #526aa5;
}

ul {
    list-style-type: none;
}

.title {
	margin-bottom: 50px;
}

.title p {
	padding-bottom: 20px;
	width: 100px;
	border-bottom: 1px #705344 solid;
	margin: auto;
}


/* <---------- form BEGIN ----------> */

.search {
	background-color: #fff;
	padding: 0 0 30px 0;
}
.form_elem:first-child {
	margin-top: 0;
}
.form_elem {
	display: block;
	margin: 0 15px 20px 0;
	text-align: left;
}

.form_elem input {
	margin: 4px 0 0 4px;
	border-radius: 3px;
	border: 1px #7ca2ff solid;
}

input[type="submit"] {
	margin: 15px 0 0 0;
}

input.but {
    background-color: #ff4e4e;
}
input.but:hover {     
    background-color: #f93c3c;
}

/* <---------- form END ----------> */


