* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.clear {
	zoom:1;
}

body {
	overflow-x: hidden;
}

/* Отступы между секциями */
section {
	padding: 50px 0;
}

header {
	margin-bottom: 50px;
}

footer {
	margin-top: 50px;
}
/* --------------------  */

.mid {
	text-align: center;
}

.row.slim {
	line-height: 0;
}

.row.slim > [class^="col-"], .slim > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a {
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 1px rgba(255, 0, 0, 0) solid;
}

a, a:link, a:visited, a:hover, a:active  {
	text-decoration: none;
	color: #2f2727;
}

a:visited { 
	color: #4c3e3e;
}

.top_nav a:hover, .menu a:hover { 
	border-bottom: 1px #705344 solid;
}

ul {
    list-style-type: none;
}

.title {
	margin-bottom: 50px;
}

.title p {
	padding-bottom: 20px;
	width: 100px;
	border-bottom: 1px #705344 solid;
	margin: auto;
}


/* <---------- form BEGIN ----------> */

.search {
	background-color: #fff;
	padding: 0 0 30px 0;
}
.form_elem:first-child {
	margin-top: 0;
}
.form_elem {
	display: inline-block;
	margin: 0 15px 20px 0;
	text-align: left;
}

.form_elem input, .form_elem select {
	margin-top: 4px;
	display: block;
}

input[type="submit"] {
	margin: 15px 0 0 0;
}
/* <---------- form END ----------> */


