
.preview_cat {
    position: relative;
}

.pagination_cats { 
    margin-top: 40px;
    display: block;
}

.preview_photo a {
	border: none;
	padding: 0;
}

.preview_photo img {
    cursor: pointer;
	cursor: zoom-in;
	width: 100%; /* Для IE */
}

/* increase - увеличение */

.increase_photo {
	position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 50%;
    z-index: 109;
    margin-left: -50%;
    text-align: center;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, .8);
    transition: transform .75s;
}
.increase_photo.vissible {
	transform: translateX(0%);
    z-index: 115;
}

.item_photo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	height: 70%;
    width: 80%;
    position: absolute;
    top: 10vh;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    transition: all .6s;
    overflow: hidden;
}
.increase_photo.vissible > .item_photo.active {
    opacity: 1;
}

.item_photo img {
	max-height: 100%;
    max-width: 100%;
}

.close_increase {
    position: fixed;
    top: 5vh;
    right: 40px;
    z-index: 116;
    text-transform: uppercase;
    cursor: pointer;
    visibility: hidden;
    padding: 10px;
}

.vis {
    visibility: visible;
}

.close_increase:hover span  {
    color: #a3b1db;
}

.prev_photo {
	background-image: url(../img/prev_photo.png);
    
}
.next_photo {
    background-image: url(../img/next_photo.png);
    right: 0;
}

.prev_photo, .next_photo {
    position: absolute;
    height: 10%;
    width: 10%;
    top: 40%;
    background-position: 50% 43%;
    background-size: 30px;
    background-repeat: no-repeat;
}

.prev_photo:hover, .next_photo:hover {
    background-color: rgba(224, 224, 224, .45);
    cursor: pointer;
}

.count_photo_layer {
    padding: 10px;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 9;
    border-radius: 3px;
}

.description_cat {
	margin-bottom: 15px;
}

.description_cat > li {
	margin-bottom: 10px;
}

.description_cat p {
    margin-top: 3px;
}
.character {
	margin-top: 5px;
}
.property_name {
	color: #a3b1db;
}

.characteristics {
    list-style-type: initial;
    margin: 5px 0 0 20px;
}

.characteristics li {
    margin-bottom: 5px;
}
/*.request_container {
	overflow-y: hidden;
}*/
.request {
	margin-top: 30px;
}
/*.cat_a_letter {
	position: absolute;
    top: 0;
    left: 50%;
    margin-left: -45px;
    height: 90px;
    z-index: -1;
    transition: transform .7s ease;
}*/
/*.request a:hover + .cat_a_letter {
	transform: translateY(-64%);
    position: absolute; 
    transition: transform .7s ease;  
}
*/