# PyCharm
.idea/

# python
__pycache__/
venv/

# Django
db.sqlite3
images/
media/

# Other
other/
postgres/

# gulp
node_modules/

# frontend
dist/

vk_token.txt
db_key.txt
secret_key.txt
*.tar
*.sql


