@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha/Neucha.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600; }

h1, h2 {
  color: #333;
  font-family: Neucha, Arial, cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px; }

h1 {
  font-size: 28px;
  font-size: 1.75rem;
  padding-top: 5px;
  padding-bottom: 10px; }

h2 {
  font-size: 26px;
  font-size: 1.625rem; }

h3 {
  text-align: left; }

.mobile_list, h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600; }

.mobile_list_opening {
  font-size: 14px; }

.menu {
  font-style: normal;
  font-weight: 600; }

.font {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  font-size: .875rem; }

.line_height {
  text-align: justify;
  line-height: 20px;
  line-height: 1.459375rem; }

.menu_opening {
  line-height: 18px;
  line-height: 1.125rem; }

.copyright {
  font-size: 14px;
  font-size: .875rem; }

.count_photo, .date_article {
  font-size: 12px;
  font-size: .75rem; }

b, .tag, .description_link, strong {
  font-style: normal;
  font-weight: 600; }

.gallery .hashtag {
  font-style: normal;
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clear {
  zoom: 1; }

body {
  overflow-x: hidden;
  z-index: 1; }

.overY {
  overflow-y: hidden; }

/* Отступы между секциями */
section {
  margin: 70px 0;
  background-color: #fff; }

.vis {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  -o-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease; }

.no-vis {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  -o-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease; }

/* --------------------  */
.mid {
  text-align: center; }

.right {
  text-align: right; }

.row.slim {
  line-height: 0; }

.row.slim > [class^="col-"], .slim > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

a {
  padding-bottom: 5px;
  display: inline-block;
  color: #004040; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

a:hover, a:active, .top_nav a:hover, .menu a:hover, .mobile_list a:hover, .open_next_menu:hover, .mobile_list a:active, .open_next_menu:active {
  color: #526aa5; }

.but {
  background-color: #526aa5;
  color: white !important;
  padding: 20px 40px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  -o-transition: background-color .6s;
  transition: background-color .6s; }

.but:hover {
  background-color: #475f9a; }

.ghost_but {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px #f9965c solid;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #f9965c;
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  -o-transition: background-color .6s;
  transition: background-color .6s;
  display: inline-block; }

.ghost_but:hover {
  background-color: #f9965c;
  color: #fff; }

.tag {
  padding: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.tag.no_active {
  display: inline-block;
  color: #c5c5c5;
  padding: 10px;
  cursor: default; }

.tag.no_active:hover {
  color: #c5c5c5; }

.article .tag {
  padding: 0;
  display: block; }

.hashtag, .tag, .article a, .contacts a {
  color: #8585ff; }

.hashtag:hover, .tag:hover, .article a:hover, .contacts a:hover {
  color: #5858ff; }

ul {
  list-style-type: none; }

.title {
  margin-bottom: 35px; }

.title p {
  padding-bottom: 15px;
  width: 100px;
  border-bottom: 1px #705344 solid;
  margin: 0 auto; }

/* <---------- form BEGIN ----------> */
.form_elem {
  display: block;
  margin: 0 15px 15px 0;
  text-align: left; }

#id_name {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px #b4b4b4 solid;
  padding-left: 5px; }

.form_elem input[type="radio"] {
  margin: 6px 2px 0 4px;
  vertical-align: sub; }

.form_elem li {
  margin: 1px 0; }

input[type="text"]:active {
  border-color: #846aa5; }

input.but {
  background-color: #ff4e4e; }

input.but:hover {
  background-color: #f93c3c; }

input.but:focus {
  outline-color: #00BCD4; }

/* <---------- form END ----------> */
.date_article {
  color: #9E9E9E; }

.article {
  margin-bottom: 25px; }

.hide_anchor {
  position: relative;
  top: -55px; }

.art_img {
  height: 350px;
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.article img {
  max-height: 600px;
  margin: 10px auto;
  display: block;
  max-width: 100%; }

.article p {
  margin: 10px 0; }

.link_art a {
  padding-bottom: 0; }

.news_container {
  padding-bottom: 25px; }

.subject_list li {
  padding-bottom: 5px; }

.contacts {
  margin-bottom: 20px; }

.contacts li {
  margin-bottom: 5px; }

.contacts a {
  padding: 0; }

.news_container a {
  padding-bottom: 0; }

.video {
  overflow: hidden;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin-bottom: 5px; }

.video iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* <---------- head BEGIN ----------> */
header {
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 0 70px 0; }

.index header {
  margin: 0; }

.header_layer {
  background-color: rgba(255, 255, 255, 0.64);
  height: 550px; }

.logo {
  max-height: 140px; }

/* <---------- head END ----------> */
/* <---------- main_menu BEGIN ----------> */
.main_menu {
  margin: 10px 0; }

.menu {
  position: relative; }

.menu > li {
  display: inline-block;
  margin-left: 30px;
  position: relative; }

.menu > li:first-child {
  margin-left: 0; }

.open_next_menu {
  cursor: default; }

.can-hover .menu_opening {
  -webkit-transition: all .8s 1s ease-out;
  -o-transition: all .8s 1s ease-out;
  transition: all .8s 1s ease-out; }

.menu_opening {
  position: absolute;
  visibility: hidden;
  top: 30px;
  left: 0;
  opacity: 0;
  text-align: left;
  -webkit-transition: all .8s 0s ease-out;
  -o-transition: all .8s 0s ease-out;
  transition: all .8s 0s ease-out; }

.menu_opening > li {
  margin: 10px 10px 0 0; }

.menu_opening li:first-child {
  margin-top: 0; }

.can-hover .menu li:hover .menu_opening, .menu_opening_view {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .5s 0s;
  -o-transition: all .5s 0s;
  transition: all .5s 0s; }

/* <---------- main_menu END ----------> */
/* <---------- .top_nav BEGIN ----------> */
.top_nav {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 1s, -webkit-transform .7s;
  transition: opacity 1s, -webkit-transform .7s;
  -o-transition: opacity 1s, transform .7s;
  transition: opacity 1s, transform .7s;
  transition: opacity 1s, transform .7s, -webkit-transform .7s;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 112; }

.top_nav_opened {
  -webkit-transition: height 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), -webkit-transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1);
  transition: height 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), -webkit-transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1);
  -o-transition: height 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1);
  transition: height 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1);
  transition: height 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1), -webkit-transform 0.55s cubic-bezier(0.1, 0.68, 0.58, 1);
  opacity: 1;
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%); }

.top_nav.top_nav_increase_photo, .mobile_list.top_nav_increase_photo {
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%); }

.top_logo {
  height: 50px;
  padding-top: 2px; }

.menu.top_menu {
  text-align: right;
  padding-top: 20px; }

.menu_opening.top_menu {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  top: 40px;
  left: -10px;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px; }

.menu_opening.top_menu > li {
  padding-top: 0;
  margin: 10px 10px 0 10px; }

.menu_opening.top_menu li:first-child {
  margin-top: 0; }

.menu_opening.top_menu li:last-child {
  margin-bottom: 10px; }

/* <---------- .top_nav END ----------> */
/* <---------- mobile_menu! BEGIN ----------> */
.mobile_menu {
  display: none; }

.mobile_list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 110;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: opacity 1s 2s, -webkit-transform 0.95s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 1s 2s, -webkit-transform 0.95s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 0.95s cubic-bezier(0, 0, 0.2, 1), opacity 1s 2s;
  transition: transform 0.95s cubic-bezier(0, 0, 0.2, 1), opacity 1s 2s;
  transition: transform 0.95s cubic-bezier(0, 0, 0.2, 1), opacity 1s 2s, -webkit-transform 0.95s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(-130%);
      -ms-transform: translateY(-130%);
          transform: translateY(-130%);
  opacity: 0;
  overflow-y: auto;
  padding: 40px 0;
  height: 100%; }

.open {
  -webkit-transition: -webkit-transform .85s ease;
  transition: -webkit-transform .85s ease;
  -o-transition: transform .85s ease;
  transition: transform .85s ease;
  transition: transform .85s ease, -webkit-transform .85s ease;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  top: 0;
  opacity: 1; }

.mobile_list > li:first-child {
  margin-top: 0; }

.mobile_nav_opened .top_logo {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%); }

.mobile_list > li {
  margin-top: 25px; }

.mobile_list_opening > li {
  margin-top: 15px; }

/* <---------- mobile_menu! END ----------> */
.burger {
  display: none; }

.burger span {
  display: block;
  position: absolute;
  top: 17px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: #004040;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.burger span::before {
  top: -8px; }

.burger span::before, .burger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #004040;
  content: "";
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.burger span::after {
  bottom: -8px; }

.burger.is-active span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.about, .index .gallery_cats {
  position: relative;
  background-color: #fff;
  padding: 70px 0; }

.cat_detail {
  padding: 0 0 70px 0;
  position: relative; }

.index .feed, .gallery_cats {
  padding: 0 0 70px 0;
  background-color: #fff; }

.cat_section {
  height: 450px; }

.full {
  background-image: url(../img/cat.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 22%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  z-index: -1; }

.line_container {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 80px;
  top: 40%; }

.line_container h2 {
  padding-top: 28px;
  text-align: right; }

.cat_container {
  width: 80px;
  height: 150px;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 10; }

.cat_a_mouse {
  height: 90px;
  position: absolute;
  visibility: visible;
  top: 35px;
  left: 0;
  z-index: 9;
  -webkit-transform: translateX(-40%) rotate(59deg);
      -ms-transform: translateX(-40%) rotate(59deg);
          transform: translateX(-40%) rotate(59deg);
  -webkit-transition: -webkit-transform .55s ease;
  transition: -webkit-transform .55s ease;
  -o-transition: transform .55s ease;
  transition: transform .55s ease;
  transition: transform .55s ease, -webkit-transform .55s ease; }

.about .tag {
  padding: 0;
  display: inline;
  background-color: #fdf9f9; }

.can-hover .cat_container:hover + .cat_a_mouse {
  -webkit-transform: translateX(-115%) rotate(45deg);
      -ms-transform: translateX(-115%) rotate(45deg);
          transform: translateX(-115%) rotate(45deg); }

.find_container {
  overflow-y: hidden;
  position: relative; }

.find_container input {
  margin-top: 15px; }

.can-hover .find_container input {
  margin-top: 75px;
  position: relative;
  z-index: 1; }

.cat_find {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -50px;
  height: 90px;
  z-index: 0;
  -webkit-transition: -webkit-transform .65s ease;
  transition: -webkit-transform .65s ease;
  -o-transition: transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease, -webkit-transform .65s ease; }

.can-hover .find input:hover + .cat_find {
  -webkit-transform: translateY(-89%);
      -ms-transform: translateY(-89%);
          transform: translateY(-89%);
  position: absolute;
  -webkit-transition: -webkit-transform .65s ease;
  transition: -webkit-transform .65s ease;
  -o-transition: transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease, -webkit-transform .65s ease; }

/* <---------- .gallery BEGIN ----------> */
.gallery a {
  display: inline; }

.gallery_description {
  margin-bottom: 15px; }

.cat_find_name, .cat_find_layer {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  left: 0; }

.cat_find_name {
  top: 30%;
  z-index: 91;
  height: 60%; }

/* Наложение белого слоя (решение для поддержки всех браузеров) */
.cat_find_layer {
  height: 100%;
  top: 0;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.83);
  -webkit-transition: opacity .45s ease;
  -o-transition: opacity .45s ease;
  transition: opacity .45s ease; }

.cat_find_block {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  max-height: 390px;
  height: 34%;
  height: 34vh;
  min-height: 300px; }

.nav_gallery {
  margin-top: 15px; }

.description_link {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 91;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  width: 100%; }

/* <---------- .gallery END ----------> */
.can-hover .cat_find_block:hover .cat_find_layer,
.can-hover .cat_find_block:hover .cat_find_name,
.cat_find_view .cat_find_layer,
.cat_find_view .cat_find_name,
.can-hover .cat_find_block:hover .description_link,
.cat_find_view .description_link {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .5s ease, top .55s, visibility .5s;
  -o-transition: opacity .5s ease, top .55s, visibility .5s;
  transition: opacity .5s ease, top .55s, visibility .5s; }

.can-hover .cat_find_block:hover .cat_find_name, .cat_find_view .cat_find_name {
  top: 25%; }

/* <---------- footer BEGIN ----------> */
footer {
  background-color: #705344;
  padding: 60px 0; }

.menu_foot {
  text-align: left;
  text-transform: none; }

.menu_foot li:first-child {
  padding-top: 0; }

.menu_foot li:nth-child(2) {
  padding-top: 15px; }

.menu_foot li {
  padding-top: 10px; }

.menu_foot a {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: none; }

.menu_foot a:hover {
  color: rgba(255, 255, 255, 0.9); }

.caption {
  text-transform: uppercase;
  color: #f0cdb7; }

/*.social a {
	padding-left: 10px;
}*/
.social img {
  height: 40px;
  opacity: .6; }

.social a:first-child {
  padding-left: 0; }

.social li:nth-child(2) {
  margin-left: -5px;
  padding-top: 15px; }

.social a:hover img {
  opacity: .9; }

.foot_img {
  opacity: .85; }

.copyright {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.3); }

/* <---------- footer END ----------> */
.preview_cat {
  position: relative; }

.pagination_cats {
  margin-top: 30px; }

.preview_photo {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.preview_photo a {
  border: none;
  padding: 0; }

.preview_photo img {
  width: 100%;
  /* Для IE */ }

/* increase - увеличение */
.increase_photo {
  position: fixed;
  top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 110;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .68s;
  transition: -webkit-transform .68s;
  -o-transition: transform .68s;
  transition: transform .68s;
  transition: transform .68s, -webkit-transform .68s;
  background-color: rgba(255, 255, 255, 0.8); }

.increase_photo.vissible {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

.item_photo {
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;
  -webkit-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s;
  overflow: hidden;
  z-index: 110; }

.increase_photo.vissible > .item_photo.active {
  opacity: 1; }

.item_photo img {
  max-height: 100%;
  max-width: 100%; }

/* добавлено 11.12.2017 */
.close_increase, .count_image {
  position: fixed;
  z-index: 111; }

.close_increase {
  top: 4%;
  right: 3%;
  cursor: pointer; }

.count_image {
  bottom: 4%;
  left: 0;
  width: 100%; }

.prev_photo {
  background-image: url(../img/prev_photo.png); }

.next_photo {
  background-image: url(../img/next_photo.png);
  right: 0; }

.prev_photo, .next_photo {
  position: absolute;
  height: 10%;
  width: 10%;
  top: 45%;
  opacity: .55;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  background-position: 50% 50%;
  -webkit-background-size: 30px 30px;
          background-size: 30px;
  background-repeat: no-repeat; }

.prev_photo:hover, .next_photo:hover {
  cursor: pointer;
  opacity: 1; }

.count_photo_layer {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: 9;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.photo_increase_icon {
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 9;
  background-image: url(../img/photo_increase_icon.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px; }

.description_cat > li {
  margin-bottom: 10px; }

.description_cat p {
  margin-top: 3px; }

.property_name {
  color: #a3b1db; }

.request {
  margin-top: 20px; }

.character {
  margin-top: 5px; }

.cat_basket {
  position: absolute;
  left: 0;
  top: 70%;
  width: 90px;
  height: 90px;
  background-image: url(../img/cat_in_basket.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  -o-transition: transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transform: translateX(-77%) rotate(94deg);
      -ms-transform: translateX(-77%) rotate(94deg);
          transform: translateX(-77%) rotate(94deg); }

.can-hover .request:hover + .cat_basket {
  -webkit-transform: translateX(-17%) rotate(85deg);
      -ms-transform: translateX(-17%) rotate(85deg);
          transform: translateX(-17%) rotate(85deg);
  -webkit-transition: -webkit-transform .76s;
  transition: -webkit-transform .76s;
  -o-transition: transform .76s;
  transition: transform .76s;
  transition: transform .76s, -webkit-transform .76s; }

.cat_basket.not {
  -webkit-transform: translateX(-120%) rotate(80deg);
      -ms-transform: translateX(-120%) rotate(80deg);
          transform: translateX(-120%) rotate(80deg); }

/* Устройства с шириной экрана от 768px до 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  .line_container {
    background-color: rgba(255, 255, 255, 0.6); }
  .social img:first-child {
    padding-left: 0; }
  /* Наши коты */ }

/* Устройства с шириной экрана до 767px */
@media (max-width: 767px) {
  a.tag, .tag.pag_gallery {
    display: block; }
  .tag {
    background-color: rgba(255, 255, 255, 0.75); }
  .top_nav, .top_nav_opened {
    display: none; }
  .main_menu {
    margin-top: 20px; }
  .full {
    background-image: url(../img/cat_mobile.jpg);
    background-position: 48%;
    padding: 20px 0; }
  .line_container {
    height: auto;
    background-color: rgba(255, 255, 255, 0.6); }
  .line_container h2 {
    line-height: 30px;
    text-align: center;
    padding: 10px 0; }
  footer a {
    padding-bottom: 0px; }
  .about_company {
    margin-top: 40px; }
  .social {
    margin-top: 40px; }
  .logo_foot {
    margin-top: 40px;
    display: inline-block; }
  /* Наши коты */
  .description_cat {
    margin-top: 13px; }
  .increase_photo {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  div.item_photo {
    width: 100%;
    opacity: 1;
    -webkit-background-size: cover;
            background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    height: 88%;
    border: 1px white solid;
    min-height: 415px;
    background-color: rgba(255, 255, 255, 0.8); }
  div.item_one_photo {
    height: 100%; }
  .prev_photo, .next_photo {
    display: none; }
  .count_image {
    display: none; }
  .burger {
    cursor: pointer;
    z-index: 113;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    top: 4%;
    left: 3%;
    display: inline-block;
    position: fixed;
    padding: 0;
    width: 40px;
    height: 35px;
    font-size: 0;
    -webkit-transition: opacity .4s ease, visibility .4s ease;
    -o-transition: opacity .4s ease, visibility .4s ease;
    transition: opacity .4s ease, visibility .4s ease; }
  .hide_anchor {
    top: -15px; }
  .art_img {
    height: 300px; }
  .cat_basket {
    display: none; }
  .arrow_both {
    background-image: url(../img/next_photo.png);
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    position: absolute;
    width: 40px;
    z-index: 1;
    top: 500px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-name: Arrow;
            animation-name: Arrow;
    -webkit-animation-duration: .9s;
            animation-duration: .9s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  @-webkit-keyframes Arrow {
    from {
      -webkit-transform: translateY(-30%) rotate(90deg);
              transform: translateY(-30%) rotate(90deg); }
    to {
      -webkit-transform: translateY(0%) rotate(90deg);
              transform: translateY(0%) rotate(90deg); } }
  @keyframes Arrow {
    from {
      -webkit-transform: translateY(-30%) rotate(90deg);
              transform: translateY(-30%) rotate(90deg); }
    to {
      -webkit-transform: translateY(0%) rotate(90deg);
              transform: translateY(0%) rotate(90deg); } } }

@media (min-width: 768px) and (max-width: 992px) {
  .description_cat {
    margin-top: 13px; } }
