{# object #}

{% if object.show %}
    {% if object.important %}
        {% include 'articles/widgets/article_preview.html' with col=12 object=object %}
    {% else %}
        {% include 'articles/widgets/article_preview.html' with col=6 object=object %}
    {% endif %}
{% elif request.user.is_authenticated %}
    {% if object.important %}
        {% include 'articles/widgets/article_preview.html' with col=12 object=object %}
    {% else %}
        {% include 'articles/widgets/article_preview.html' with col=6 object=object %}
    {% endif %}
{% else %}

{% endif %}