{# object #}
{# cs #}
{# cso #}
{# cm #}
{# cmo #}
{# cl #}
{# clo #}

{% if object.show %}
    {% if object.important %}
        {% include 'articles/widgets/article_preview.html' with cs=cs|default:12 cso=cso|default:0 cm=cm|default:12 cmo=cmo|default:0 cl=cl|default:12 clo=clo|default:0 object=object %}
    {% else %}
        {% include 'articles/widgets/article_preview.html' with cs=cs|default:6 cso=cso|default:0 cm=cm|default:6 cmo=cmo|default:0 cl=cl|default:6 clo=clo|default:0 object=object %}
    {% endif %}
{% elif request.user.is_authenticated %}
    {% if object.important %}
        {% include 'articles/widgets/article_preview.html' with cs=cs|default:12 cso=cso|default:0 cm=cm|default:12 cmo=cmo|default:0 cl=cl|default:12 clo=clo|default:0 object=object %}
    {% else %}
        {% include 'articles/widgets/article_preview.html' with cs=cs|default:6 cso=cso|default:0 cm=cm|default:6 cmo=cmo|default:0 cl=cl|default:6 clo=clo|default:0 object=object %}
    {% endif %}
{% else %}

{% endif %}