{# object #}
{# subject_key #}

<div class="hide_anchor" id="anchor_{{ object.id }}">
</div>
<div class="article font line_height">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<a href="{{ object.get_absolute_url }}#anchor_cat"><h3>{{ object.title }}</h3></a>
			</div>
		</div>
        {% if object.show %}
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="art">
                        {{ object.text|safe }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <p class="date_article">{{ object.created.date }}</p>
                </div>
                <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-0">
                    <a href="#anchor_{{ object.id }}"><span class="art_vis tag right"></span></a>
                </div>
		    </div>
            {% if subject_key %}
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-2">
                        <p class="date_article">{{ subject_key }}: <a href="#">{{ object.subject }}</a></p>
                    </div>
		        </div>

            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <p>Статья в разработке...</p>
                </div>
            </div>
        {% endif %}
	</div>
</div>

