{# object #}
{# cs #}
{# cso #}
{# cm #}
{# cmo #}
{# cl #}
{# clo #}

<div class="col-xs-12 col-xs-offset-0 col-sm-{{ cs }} col-sm-offset-{{ cso }} col-md-{{ cm }} col-md-offset-{{ cmo }} col-lg-{{ cl }} col-lg-offset-{{ clo }}">
    <div class="news_container">
        {% if object.name %}
            {# partner #}
            <div>
                {% if object.company_url %}
                    <a href="{{ object.company_url }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ object.image }}" alt="{{ object.name }}-logo">
                    </a>
                {% else %}
                <img src="{{ object.image }}" alt="{{ object.name }}-logo">
                {% endif %}
            </div>
            {% if object.description %}
                <a href="{{ object.get_absolute_url }}#anchor_caption">
                    <h3>
                        {{ object.name|truncatechars:50 }}
                    </h3>
                </a>
            {% else %}
                <h3>
                    {{ object.name|truncatechars:50 }}
                </h3>
            {% endif %}
        {% endif %}
    </div>
</div>
