{# animal #}

{% load verbose_names %}
{% load static %}

<ul class="description_cat font">
    {# name #}
    <li>
        {% if animal.name %}
            <span class="property_name">{% get_verbose_field_name animal 'name' %}: </span>{{ animal.name }}
        {% else %}
            <span class="property_name">{% get_verbose_field_name animal 'id' %}: </span>{{ animal.id }}
        {% endif %}
    </li>

    {# status #}
    {% if animal.location_status %}
        <li>
            <span class="property_name">{% get_verbose_field_name animal 'location_status' %}: </span>{{ animal.get_location_status }}
        </li>
    {% endif %}

    {# group #}
    {% if animal.group %}
        <li>
            <span class="property_name">{% get_verbose_field_name animal 'group' %}: </span>{{ animal.group }}
        </li>
    {% endif %}

    {# sex #}
    {% if animal.sex %}
        <li>
            <span class="property_name">{% get_verbose_field_name animal 'sex' %}: </span>{{ animal.get_sex }}
        </li>
    {% endif %}

    {# age #}
    {% if animal.get_age %}
        <li>
            <span class="property_name">Возраст:</span>
            {% include 'cats/widgets/age.html' with age=animal.get_age %}
        </li>
    {% endif %}

    {# shelter_date #}
    {% if animal.shelter_date %}
        {% ifequal animal.location_status 'S' %}
        <li>
            <span class="property_name">На передержке:</span>
            {% include 'cats/widgets/age.html' with age=animal.get_shelter_time %}
        </li>
        {% endifequal %}
    {% endif %}
   

    {# description #}
    {% if animal.description %}
        <li>
            <span class="property_name">{% get_verbose_field_name animal 'description' %}: </span>
            <p class="line_height font">{{ animal.description}}</p>
        </li>
    {% endif %}
</ul>

{# tag #}
{% if animal.get_hashtag_name %}
    <a href="{{ object.get_instagram_link }}" class="hashtag font" target="_blank">{{ object.get_hashtag_name }} </a>
{% endif %}
<!-- 
{# updated #}
{% if animal.updated %}
    <p class="tag no_active font">{% get_verbose_field_name animal 'updated' %}: {{ animal.updated.date }}</p>
{% endif %}
     -->
