{# caption? #}
{# caption_url? #}

{% if caption %}
<div class="hide_anchor" id="anchor_cat">
</div>
<div class="title mid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if caption_url %}
                    <a href="{{ caption_url }}">
                        <h2>
                            {{ caption }}
                        </h2>
                    </a>
                {% else %}
                    <h2>
                        {{ caption }}
                    </h2>
                {% endif %}
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endif %}