{# field #}

{% load verbose_names %}
<label for="{{ field.id_for_label }}">{{ field.label }}:</label>
<ul id="id_{{ field.name }}">
	{% for choice in field.field.choices %}
		<li>
			<label for="id_{{ field.name }}_{{ forloop.counter0 }}">
				<input class="{{ field.name }}" id="id_{{ field.name }}_{{ forloop.counter0 }}" name="{{ field.name }}" type="radio" value="{{ choice.0 }}"{% get_default_value_for_form field.name forloop.counter0 request.GET choice.0 %}> {{ choice.1 }}
			</label>
		</li>	
	{% endfor %}
</ul>
