{# form #}
{# caption #}
{# caption_url #}

<section class="search" id="anchor_search">
    <div class="container">
        {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                {# TODO: доступен статус только в приюте если выбрана нахождение в приюте. и наоборот #}
                <form method="get" class="search_form font mid" action="?filter=1#gallery_cat" name='hi'>
                    <input type="hidden" name="filter" value="1">
                        <div class="form_elem">
                            {{ form.name.label_tag }}
                            {{ form.name.as_widget }}
                        </div>
                        <div class="form_elem">
                            {% include 'cats/widgets/form_field.html' with field=form.sex %}
                        </div>
                        <div class="form_elem">
                            {% include 'cats/widgets/form_field.html' with field=form.location_status %}
                        </div> 
                        <div class="form_elem">
                            {% include 'cats/widgets/form_field.html' with field=form.age_distance %}
                        </div>
                        <div class="form_elem">
                            {% include 'cats/widgets/form_field.html' with field=form.shelter_distance %}
                        </div>                            
                    <p class="font mid">
                        <input type="submit" value="Найти любимца" class="but">
                    </p>
                </form>
                 <p class="font mid">
                    <a href="{% url 'animal_list' %}?filter=1#anchor_search" class="ghost_but">Сброс фильтров</a>
                 </p>
            </div>
        </div>
    </div>
</section>