{# form #}

<section class="search" id="anchor_search">
    <div class="container">
        {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

                <form method="get" class="search_form font mid" action="?filter=1#gallery_cat">
                    <input type="hidden" name="filter" value="1">
                    {% for field in form %}
                        <div class="form_elem">
                            {{ field.label_tag }}
                            {{ field.as_widget }}
                        </div>
                    {% endfor %}
                    <p class="font mid">
                        <input type="submit" value="Найти любимца" class="but">
                    </p>
                </form>
                 <p class="font mid">
                    <a href="{% url 'animal_list' %}?filter=1#anchor_search" class="ghost_but">Сброс фильтров</a>
                 </p>
            </div>
        </div>
    </div>
</section>