{# object_list #}
{# filter_parameters #}
{# caption #}
{# caption_url #}
{# capt_descr #}

<div class="container">
    {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
    {% include 'cats/widgets/description.html' with description=capt_descr %}
    <div class="search_home mid">
        <div class="row slim">
            <div class="col-md-12 slim">
                {% for animal in object_list %}
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
                        <div class="cat">
                            <img src="{{ animal.get_image.image_url }}">
                            <a href="{% url 'animal_detail' pk=animal.id %}{{ filter_parameters }}">
                                <div class="name_cat">
                                    <p>
                                        {{ animal.get_hashtag_name }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


