{# object_list #}
{# filter_parameters #}
{# caption #}
{# caption_url #}
{# capt_descr #}
{# page_obj #}
{# show_count #}

<section id="gallery_cat">
    <div class="container">
        {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                {% include 'cats/widgets/group_description.html' with description=capt_descr %}
                {% if show_count and page_obj %}
                    <p class="gallery_description mid font">Найдено {{ page_obj.paginator.count }} котиков</p>
                {% endif %}
            </div>
        </div>
        

        <div class="gallery font">
            <div class="row">
                <div class="col-md-12 slim">
                    {% for animal in object_list %}
                        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
                            <div class="cat_find_block">
                                <a href="{% url 'animal_detail' pk=animal.id %}{{ filter_parameters }}">
                                    <div class="cat_find" style="background-image: url({{ animal.get_image.image_url }});">
                                    </div>
                                    <div class="cat_find_name mid">{{ animal.get_hashtag_name }}</div>
                                    <div class="cat_find_layer"></div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="nav_gallery mid">
                    {% if page_obj %}
                        {# TODO: Не выводить при page_obj. Пагинатор. Каунт <= 1. #}
                        {% load app_filters %} 

                        {#######################}
                        <!-- <p>Pages: {{ page_obj.paginator.num_pages }}</p> -->
                        <span>Страница: {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                        {#######################}

                        {# previous #}

                        <p class="pagination_cats mid font">
                            {% if page_obj.has_previous %}
                                {% with prev_id=page_obj.paginator.object_list|return_item_by_index:page_obj.previous_page_number %}
                                    <a href="?{{ request.GET|change_page:page_obj.previous_page_number }}#anchor_cat" class="tag">Назад</a>
                                {% endwith %}
                            {% else %}
                                <span class="tag no_active">Назад</span>
                            {% endif %}

                        {# next #}
                            {% if page_obj.has_next %}
                                {% with next_id=page_obj.paginator.object_list|return_item_by_index:page_obj.next_page_number %}
                                    <a href="?{{ request.GET|change_page:page_obj.next_page_number }}#anchor_cat" class="tag">Далее</a>
                                {% endwith %}
                            {% else %}
                                <span class="tag no_active">Далее</span>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

 
