{# object_list #}
{# filter_parameters #}
{# caption #}
{# caption_url #}
{# capt_descr #}
{# page_obj #}
{# show_count #}

{% load static %}
<section id="gallery_cat">
    <!-- # T0D0: #Зефир,_Крем,_Сливка,_Трюфелька_catsekb..... - обрезать строку если больше 25 символов # -->
    <div class="container">
        {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% include 'cats/widgets/group_description.html' with description=capt_descr %}
                {% if show_count and page_obj %}
                    <p class="gallery_description mid font">Найдено {{ page_obj.paginator.count }} котиков</p>
                {% endif %}
            </div>
        </div>
        

        <div class="gallery font">
            <div class="row">
                <div class="col-md-12 slim">
                     {% for animal in object_list %}
                        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                            {% if animal.get_image.image_url %}
                                <div class="cat_find_block" style="background-image: url({{ animal.get_image.image_url }});">
                                    <div class="cat_find_name mid">
                                        <a href="{% url 'animal_detail' pk=animal.id %}{{ filter_parameters }}" class="hashtag">{{ animal.name }}</a>
                                    </div> 
                                    <div class="cat_find_layer"></div>
                                </div>
                            {% else %}
                                <div class="cat_find_block" style="background-image: url({% static "catsekb/dist/img/sad_cat.png" %});">
                                    <div class="cat_find_name mid">
                                        <a href="{% url 'animal_detail' pk=animal.id %}{{ filter_parameters }}" class="hashtag">{{ animal.name }}</a>
                                    </div> 
                                    <div class="cat_find_layer"></div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if page_obj %}                
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0">
                        <div class="nav_gallery mid">
                            {% if page_obj.paginator.num_pages > 1 %}
                                {% load app_filters %}
                                <span>Страница: {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                                <p class="pagination_cats mid font">

                                    {# previous #}
                                    {% if page_obj.has_previous %}
                                        {% with prev_id=page_obj.paginator.object_list|return_item_by_index:page_obj.previous_page_number %}
                                            <a href="?{{ request.GET|change_page:page_obj.previous_page_number }}#anchor_cat" class="tag pag_gallery">Назад</a>
                                        {% endwith %}
                                    {% else %}
                                        <a class="tag no_active pag_gallery">Назад</a>
                                    {% endif %}

                                    <a href="?per_page=all{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="tag pag_gallery">Показать всех</a>                    

                                    {# next #}
                                    {% if page_obj.has_next %}
                                        {% with next_id=page_obj.paginator.object_list|return_item_by_index:page_obj.next_page_number %}
                                            <a href="?{{ request.GET|change_page:page_obj.next_page_number }}#anchor_cat" class="tag pag_gallery">Далее</a>
                                        {% endwith %}
                                    {% else %}
                                        <a class="tag no_active pag_gallery">Далее</a>
                                    {% endif %}
                                    
                                </p>
                            {% else %}
                                <!-- Кнопка показать всех - неактивна! -->
                                <a class="tag no_active pag_gallery">Назад</a>
                                <a class="tag no_active pag_gallery">Показать всех</a>
                                <a class="tag no_active pag_gallery">Далее</a>
                            {% endif %}
                        </div>
                    </div>
                </div>                
            {% endif %}
        </div>
    </div>
</section>

 
