{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# shelter_animals #}
{# shelter_animals_count #}
{# home_animals_count #}
{# animals_count #}
{# important_news #}
{# articles #}
{# main_video #}

{% extends "rotvodom_page/base.html" %}
{% load static %}
{% block base_body %}

    <div class="about font line_height">
		<div class="cat_container">
		</div>
		<img class="cat_a_mouse" src="{% static "catsekb/dist/img/rottweiler-small.svg" %}">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption="О нас" %}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="article">
            <p>
                В наш приют попадают ротвейлеры, боксеры, кане-корсо, и представители других крупных, в том числе, служебных пород. Это выброшенные на улицу, потерявшие хозяев или преданные ими, самые верные и бескомпромиссные собаки.  Их мощь и сила порождает множество мифов, а незнание порождает страх.<br/>
                СМИ сыграли с этими породами злую шутку, превратив собак-компаньонов и служебных собак, преданных человеку всем своим существом, в собак-убийц.<br/>
                Поэтому на улице им угрожает особенная опасность быть покалеченными или уничтоженными из-за обывательского невежества.<br/>
                Собакам этих пород особенно трудно принять новую реальность, в которой нет любимого, несмотря ни на что, хозяина. И наша задача - не дать им потерять веру в людей и помочь обрести новый дом.
            </p>
            <p>
                Приезжайте, посмотрите в их глаза и убедитесь лично, что собачья преданность не зависит от того, насколько вы богаты или красивы. Собачья преданность абсолютна и безусловна. Возможно, именно здесь живёт и ваше счастье. И именно вас очень-очень ждёт черно-подпалый, черный или тигровый зверь с нежным сердцем.
            </p>
          </div>
				</div>
			</div>
		</div>
	</div>

    {% if shelter_animals_count or home_animals_count %}
        <div class="cat_section">
            <div class="line_container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-lg-10">
                            <h2>
                                {% if shelter_animals_count %}
                                    <span>Ищут дом: {{ shelter_animals_count }} /</span>
                                {% endif %}

                                {% if home_animals_count %}
                                    <span>Пристроено: {{ home_animals_count }}</span>
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full full_rottweiler_image">
            </div>
        </div>
    {% endif %}

    {% if shelter_animals %}
        {% url 'rotv_in_shelter' as group_url %}
            {% include 'rotvodom_page/widgets/gallery.html' with object_list=shelter_animals filter_parameters='?group_id=S&project=rotvodom' caption='Ищут дом' caption_url=group_url bottom_text='Посмотреть других собак' %}
    {% endif %}

    {% if articles %}
        <div class="feed line_height font">
            {% include 'cats/widgets/caption.html' with caption='Полезные статьи' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        {% for article in articles %}
                            {% include 'articles/widgets/article_preview.html' with object=article cs=6 cm=6 cmo=0 cl=6 clo=0 %}
                        {% endfor %}
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="mid">
                                <a href="{% url 'subjects_feed' %}#anchor_caption" class="tag">Посмотреть другие статьи</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if main_video.first %}
        <div class="feed line_height font">
            {% include 'cats/widgets/caption.html' with caption='Наши видео' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {% include 'articles/widgets/article_preview_validation.html' with object=main_video.first cs=12 cm=12 cmo=0 cl=12 clo=0 %}
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="mid">
                                <a href="{% url 'video' %}#anchor_caption" class="tag">Посмотреть другие видео</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





{% endblock base_body %}
{% block body_attr %}class='index'{% endblock body_attr %}
