{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# caption #}
{# object_list #}
{# filter_string #}
{# description #}
{# page_obj #}

{% extends "cats/base.html" %}
{% block base_body %}
    {% include 'cats/widgets/gallery.html' with object_list=object_list filter_parameters=filter_string caption=caption capt_descr=description page_obj=page_obj %}
{% endblock base_body %}

{% block header %}
    {# TODO: set background_image #}
    {% with "catsekb/img/header_small.jpg" as background_image_file %}
            {{ block.super }}
    {% endwith %}
{% endblock header %}
