{# group #}
{# animal #}
{# page #}
{% load verbose_names %}

{% if animal.name%}
    <div style="background-color: blanchedalmond">
        {# Имя #}
        <h1>{{ animal.name }}</h1>

        {# Ссылка #}
        <a href="{{ animal.get_instagram_link }}">{{ animal.get_hashtag_name }}</a>

        {# Кличка #}
        <p>{% get_verbose_field_name animal 'name' %}: {{ animal.name}}</p>
    </div>
{% endif %}

{# Группа #}
{% if animal.group %}
    <div style="background-color: antiquewhite">
        <p>{% get_verbose_field_name animal 'group' %}: {{ animal.group}}</p>
    </div>
{% endif %}

{# Возраст #}
{% if animal.get_age %}
    <div style="background-color: brown">
        <p>{% get_verbose_field_name animal 'date_of_birth' %}:</p>
        {% with animal.get_age as age %}
            {% if age.years > 0 %}
                <p>Лет: {{ age.years }}</p>
            {% endif %}
            {% if age.months > 0 %}
                <p>Месяцев: {{ age.months }}</p>
            {% endif %}
            {% if age.days > 0 %}
                <p>Дней: {{ age.days }}</p>
            {% endif %}
        {% endwith %}
    </div>
{% endif %}

{# Особенности #}
{% if animal.field_value %}
    <div style="background-color: aquamarine">
        {% for field in animal.field_value.all %}
            <p>{{ field.field_type }}: {{ field.value_text }}</p>
        {% endfor %}
    </div>

{% endif %}

{# Описание #}
{% if animal.get_description %}
    <div style="background-color: aliceblue">
        <h4>{% get_verbose_field_name animal.get_description 'description' %}</h4>
        <p>{{ animal.get_description.description }}</p>
    </div>
{% endif %}

{# Фото #}
{% if animal.get_image %}
    <img src="{{ animal.get_image.image.url }}" alt="{{ animal.get_image.alt }}">
{% endif %}

{# Время #}
<div style="background-color: cornsilk">
    {# TODO: Change time format #}
    <p>{% get_verbose_field_name animal 'created' %}: {{ animal.created|date:'SHORT_DATE_FORMAT'}}</p>
    <p>{% get_verbose_field_name animal 'updated' %}: {{ animal.updated|date:'SHORT_DATE_FORMAT'}}</p>
</div>

{# previous and next animal #}
{% if page %}
    {% load app_filters %}

    {# previous #}
    <p>
        {% if page.has_previous %}
            {% with prev_id=page.paginator.object_list|return_item_by_index:page.previous_page_number %}
                <a href="{% url 'animal' animal_id=prev_id group_id=group %}">previous</a>
            {% endwith %}
        {% else %}
            <span>previous</span>
        {% endif %}
    </p>

    {# next #}
    <p>
        {% if page.has_next %}
            {% with next_id=page.paginator.object_list|return_item_by_index:page.next_page_number %}
                <a href="{% url 'animal' animal_id=next_id group_id=group %}">next</a>
            {% endwith %}
        {% else %}
            <span>next</span>
        {% endif %}
    </p>

{% endif %}
