{# for base #}
    {# group_list #}
    {# helpful_info_list #}
    {# header_class #}

{% extends "cats/base.html" %}
{% load static %}
{% block base_body %}
    	<div class="increase_photo">
		<div class="close_increase">
			<span>Закрыть</span>
		</div>

		<div class="item_photo active">
			<img src="img/cats_p1.jpg">
		</div>
		<div class="item_photo">
			<img src="img/cats_p2.jpg">
		</div>
		<div class="item_photo">
			<img src="img/cats_p3.jpg">
		</div>
		<div class="item_photo">
			<img src="img/cats_p4.jpg">
		</div>
			<img src="../img/prev_photo_v.3.png" class="prev_photo">
			<img src="../img/next_photo_v.3.png" class="next_photo">
	</div>
	<section>
		<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="title mid">
							<h2>
								#Тигр_catsekb
							</h2>
							<p></p>
						</div>
					</div>
				</div>

				</div>
				<div class="container">
					<div class="prev_cat">
					</div>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
							<div class="preview_photo">
								<img src="{% static 'catsekb/img/sad_cat.png' %}" class="img-responsive">
								<span class="count_photo">1/4</span>
							</div>

						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
							<div class="description_cat">
								<ul>
									<li>
										<span class="property_name">Имя: </span>Тигр
									</li>
									<li>
										<span class="property_name">Пол: </span>М
									</li>
									<li>
										<span class="property_name">Возраст: </span>2 года
									</li>
									<li>
										<span class="property_name">Лоток: </span>без промаха
									</li>
									<li>
										<span class="property_name">Кастрирован: </span>нет
									</li>
									<li>
										<span class="property_name">К другим животным: </span>терпим
									</li>
									<li>
										<span class="property_name">В приюте: </span>49 дней
									</li>
									<li>
										<span class="property_name">Характеристика: </span>
								 		<p class="character">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat.
										</p>
									</li>
								</ul>
							</div>
						</div>

			    	</div>
			    <div class="next_cat">
						</div>
				</div>
				<div class="row">
					<div class="request_container">
						<div class="request mid font">
							<a href="#">
								Оставить заявку
							</a>
							<img src="../img/cat_a_letter.png" class="cat_a_letter">


						</div>
					</div>
				</div>
			</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="title mid">
						<h2>
							Ищут дома
						</h2>
						<p></p>
					</div>
				</div>
			</div>
			<div class="search_home mid">
				<div class="row slim">
					<div class="col-md-12 slim">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Тигр_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Лев_catsekb
										</p>
									</div>
								</a>

							</div>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
							<div class="cat">
								<img src="{% static 'catsekb/img/sad_cat.png' %}">
								<a href="#">
									<div class="name_cat">
										<p>
											#Майк_catsekb
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock base_body %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'catsekb/js/script_cats.js' %}"></script>
{% endblock %}

