{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# object #}
{# page? #}

{% extends "cats/base.html" %}
{% load static %}
{% block base_body %}
    {% with object.animalimage_set.all as images %}
        {% include 'cats/widgets/increase_photo.html' with items=images %}
        <section>
            <div class="container">
                {% include 'cats/widgets/caption.html' with caption=object.name %}
                
               
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
                        <div class="preview_photo font">
                            {% if object.get_main_image %}
                                <img src="{{ object.get_main_image.image_url }}" class="img-responsive">
                            {% else %}
                                <img src="{% static 'catsekb/img/sad_cat.png' %}" class="img-responsive">
                            {% endif %}
                            <div class="count_photo_layer">
                                <span class="count_photo">{{ images.count }} фото</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
                        {% include 'cats/widgets/animal_description.html' with animal=object %}
                    </div>
                </div>
                <div class="row">
                    {% include 'cats/widgets/questionnaire_form.html' %}
                </div>
            </div>
            {% include 'cats/widgets/animal_pagination.html' with page=page request=request type='prev' %}
        </section>
           

        
    {% endwith %}
{% endblock base_body %}

{% block header %}
    {% with object.get_background_image as background_image %}
        {{ block.super }}
    {% endwith %}
{% endblock header %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'catsekb/js/script_cats.js' %}"></script>
{% endblock %}


