{# for base #}
    {# group_list #}
    {# helpful_info_list #}
    {# header_class #}

{# animals #}
{# filter_string #}

{% extends "cats/base.html" %}

{% block base_body %}
    <form method="get">
        {{ form.as_p }}
        <input type="submit" value="Поиск">
    </form>
    <a href="{% url 'animal_filter' %}">Сбросить фильтры</a>
    {% if animals %}
        {% include "cats/widgets/gallery.html" with object_list=animals filter_parameters=filter_string caption="Результат поиска" %}
    {% endif %}
{% endblock %}