{# for base #}
    {# group_list #}
    {# helpful_info_list #}
    {# header_class #}

{#group_list#}

{% extends "cats/base.html" %}
{% block base_body %}
    {% include 'cats/widgets/caption.html' with caption=caption caption_url=caption_url %}
    {% for group in group_list %}
        <li>
            <a href="{% url 'group_detail' pk=group.id  %}">{{ group.name }}</a>
        </li>
    {% empty %}
        <p>Групп еще нет</p>
    {% endfor %}
{% endblock base_body %}

{% block header %}
    {% with 'cats' as header_class %}
        {{ block.super }}
    {% endwith %}
{% endblock header %}
