{#group_list#}
{% extends "cats/base.html" %}
{% load static %}
{% block base_body %}
    <section>
		<div class="about">
			<img class="cat_a_mouse" src="{% static "catsekb/img/cat_and_mouse.png" %}">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="title mid">
							<h2>
								О нас
							</h2>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<p class="about_u">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="full">
		<a href="#">
			<div class="line_container">
				<div class="container">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 col-lg-10">
							<h2>
								Что делать, если я нашел кота?
							</h2>
						</div>
					</div>
				</div>
			</div>
		</a>
		<div class="full_container">
		</div>
	</section>
	<section>

	</section>
{% endblock base_body %}