{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {

        }
    </style>
</head>
<body>
    <h1>Наши питомцы</h1>
    <h2>Все питомцы</h2>
        {% for animal in animals %}
            <p>
                <a href="{% url 'animal' animal.id %}">{{ animal.name }}</a>
            </p>
        {% endfor %}
{#    <div>#}
{##}
{#    </div>#}
    <h2>Группы</h2>
    <h2>Фильтры</h2>
</body>
</html>