{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# shelter_animals #}
{# shelter_caption #}
{# shelter_animals_count #}
{# home_animals_count #}
{# animals_count #}
{# dying_animals_count #}

{% extends "cats/base.html" %}
{% load static %}
{% block base_body %}

    <!-- {% if dying_animals_count %}
    {# TODO: Применить статистику #}
        <p>На радуге: {{ dying_animals_count }}</p>
    }
    {% endif %}

    {% if animals_count %}
        <p>Всего животных: {{ animals_count }}</p>
    {% endif %} -->

    <section class="about">
		<div class="cat_container">
		</div>
		<img class="cat_a_mouse" src="{% static "catsekb/dist/img/cat_and_mouse.png" %}">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption="О нас" %}
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<p class="font line_height">
						<b>CatsEkb</b> - это благотворительный проект по пристрою кошек; частный приют для травмированных кошек. Мы спасаем котиков, лечим их и ищем новый уютный дом. Если вы вдруг нашли котика и хотите помочь, внимательно прочитайте статью - <a href="{% url 'find_cat' %}" class="tag">"Я НАШЕЛ КОТА, ЧТО ДЕЛАТЬ?"</a>.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="full">
		<div class="line_container">
			<div class="container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-lg-10">
						<h2>
							{% if shelter_animals_count %}
						        <span>Ищут дом: {{ shelter_animals_count }} /</span>
						    {% endif %}

						    {% if home_animals_count %}
						        <span>Пристроено: {{ home_animals_count }}</span>
						    {% endif %}
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="full_container">
		</div>
	</section>        
	{% url 'group_detail' pk='S' as group_url %}
    {% include 'cats/widgets/gallery.html' with object_list=shelter_animals filter_parameters='?group_id=S' caption=shelter_caption caption_url=group_url %}
{% endblock base_body %}