{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# shelter_animals #}
{# home_animals #}
{# dying_animals #}
{# groups #}

{% extends "catsekb_page/base.html" %}
{% block base_body %}

    {% if shelter_animals %}
        {% include 'cats/widgets/gallery.html' with object_list=shelter_animals filter_parameters='?group_id=S' caption=shelter_caption caption_url=shelter_url %}
    {% endif %}

    {% if home_animals %}
        {% include 'cats/widgets/gallery.html' with object_list=home_animals filter_parameters='?group_id=H' caption=home_caption caption_url=home_url %}
    {% endif %}

    {% if dying_animals %}
        {% include 'cats/widgets/gallery.html' with object_list=dying_animals filter_parameters='?group_id=D' caption=dying_caption caption_url=dying_url %}
    {% endif %}

    {% for group in groups %}
            {% include 'cats/widgets/gallery.html' with object_list=group.get_preview_animals_by_group  filter_parameters='?group_id='|add:group.id_str caption=group.name caption_url=group.get_absolute_url %}
    {% empty %}
    {% endfor %}
{% endblock base_body %}

{% block header %}
    {# TODO: set background_image #}
    {% with "catsekb/dist/img/header_small.jpg" as background_image_file %}
            {{ block.super }}
    {% endwith %}
{% endblock header %}
