{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# shelter_animals #}
{# shelter_animals_count #}
{# home_animals_count #}
{# animals_count #}
{# important_news #}
{# articles #}
{# main_video #}

{% extends "catsekb_page/base.html" %}
{% load static %}
{% block base_body %}

    <div class="about font line_height">
		<div class="cat_container">
		</div>
		<img class="cat_a_mouse" src="{% static "catsekb/dist/img/cat_and_mouse.png" %}">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption="О нас" %}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="article">
            <p>
                <strong>Catsekb</strong> существует уже больше 5 лет. Сначала это был просто проект по пиару и пристрою, потом существовал как проект помощи бездомным кошкам, и, наконец, с 2019 года уже как приют с отдельным помещением.
                Свой приют мы решили создать, когда осенью 2019 года взялись за спасение 43 кошек с чёрной передержки, все они тяжело болели и их никто не мог больше взять.
                На пожертвования неравнодушных людей мы построили отдельную бытовку-приют и сейчас заканчиваем строительство карантинных боксов. Из тех 43 котов почти все уже нашли свой дом, а приют продолжает работать и принимать новых бездомышей.
                За время существования проекта мы нашли дом более 560 кошкам и не будет останавливаться на достигнутом😊 давайте сделаем ещё больше бездомных котиков счастливыми.
            </p>
            <p>
              Если вы вдруг нашли котика и хотите помочь, внимательно прочитайте статью - <a href="{% url 'find_cat' %}#anchor_caption" class="tag">"Я НАШЕЛ КОТА, ЧТО ДЕЛАТЬ?"</a>.
            </p>
            <p>
              <a href="{% url 'about' %}#anchor_caption" class="tag">Подробнее о нашем проекте</a>
            </p>
          </div>
				</div>
			</div>
		</div>
	</div>

    {% if shelter_animals_count or home_animals_count %}
        <div class="cat_section">
            <div class="line_container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-lg-10">
                            <h2>
                                {% if shelter_animals_count %}
                                    <span>Ищут дом: {{ shelter_animals_count }} /</span>
                                {% endif %}

                                {% if home_animals_count %}
                                    <span>Пристроено: {{ home_animals_count }}</span>
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full full_cat_image">
            </div>
        </div>
    {% endif %}

    {% if shelter_animals %}
        {% url 'cats_in_shelter' as group_url %}
            {% include 'cats/widgets/gallery.html' with object_list=shelter_animals filter_parameters='?group_id=S' caption='Ищут дом' caption_url=group_url bottom_text='Посмотреть других котиков' %}
    {% endif %}

    {% if articles %}
        <div class="feed line_height font">
            {% include 'cats/widgets/caption.html' with caption='Полезные статьи' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        {% for article in articles %}
                            {% include 'articles/widgets/article_preview.html' with object=article cs=6 cm=6 cmo=0 cl=6 clo=0 %}
                        {% endfor %}
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="mid">
                                <a href="{% url 'subjects_feed' %}#anchor_caption" class="tag">Посмотреть другие статьи</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}






{% endblock base_body %}
{% block body_attr %}class='index'{% endblock body_attr %}
