* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.clear {
	zoom:1;
}

html {
	-webkit-text-size-adjust: none;
}
body {
	overflow-x: hidden;
}
.overY {
	overflow-y: hidden;
}
/* Отступы между секциями */
section {
	padding: 50px 0;
}
.overY {
		overflow-y: hidden;
	}

/* --------------------  */

.mid {
	text-align: center;
}

.row.slim {
	line-height: 0;
}

.row.slim > [class^="col-"], .slim > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a {
	padding-bottom: 5px;
	display: inline-block;
	color: #004040;
}

a, a:link, a:visited, a:hover, a:active  {
	text-decoration: none;
}

.but {
    background-color: #526aa5;
    color: white !important;
	padding: 20px 40px;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
    transition: background-color .6s;
}

.but:hover {
    background-color: #475f9a;
}

.ghost_but {
	margin-top: 10px;
	padding: 10px 20px;
    border: 1px #f9965c solid;
    border-radius: 3px;
    color: #f9965c;
    text-transform: uppercase;
    transition: background-color .6s;
    display: inline-block;
}

.ghost_but:hover {
	background-color: #f9965c;
	color: #fff;
}
.tag {
    padding: 10px;
    border-radius: 3px;
}

.tag.no_active {
	display: inline-block;
	color: #c5c5c5;
	padding: 10px;
}

.tag.no_active:hover {
	color: #c5c5c5;
}
.hashtag, .tag {
	color: #8585ff;
}
.hashtag:hover, .tag:hover {
	color: #5858ff;
}

.top_nav a:hover, .menu a:hover { 
	color: #526aa5;
}

ul {
    list-style-type: none;
}

.title {
	margin-bottom: 35px;
}

.title p {
	padding-bottom: 20px;
	width: 100px;
	border-bottom: 1px #705344 solid;
	margin: 0 auto;
}


/* <---------- form BEGIN ----------> */

.search_form {
}
.search {
}
.form_elem:first-child {
	margin-top: 0;
}
.form_elem {
	display: block;
	margin: 0 15px 20px 0;
	text-align: left;
}

.form_elem input {
	margin: 4px 0 0 4px;
	border-radius: 3px;
	border: 1px #b4b4b4 solid;
	padding-left: 5px;
}


.form_elem li {
	margin: 1px 0;
}
input[type="submit"] {
	margin: 15px 0 0 0;
}

input[type="text"]:active {
	border-color: #846aa5;
}
input.but {
    background-color: #ff4e4e;
}
input.but:hover {     
    background-color: #f93c3c;
}

/* <---------- form END ----------> */

