@media (min-width: 992px) {
	.full {
		position: relative;
	}

	.full_container, .line_container {
		background-image: url(../img/cat.jpg);
	    background-size: cover;
	    background-attachment: fixed;
	    background-position: 25%;
	    background-repeat: no-repeat;
	    width: 100%;
	} 
	.full_container {
		height: 600px;
	    filter: brightness(90%);
	    position: relative;
	}

	.line_container {
		position: absolute;
		z-index: 10;
	    width: 100%;
	    filter: brightness(100%);
	    height: 80px;
	    top: 40%;
	}

	.line_container h2 {
		padding-top: 28px;
		text-align: right;
	}
}
/* Устройства с шириной экрана от 768px до 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
	.line_container {
		filter: none;
		background-image: none;
		background-color: rgba(227, 235, 236, 0.7);
	}
	.social img:first-child {
		padding-left: 0;
	}

	/* Наши коты */

}

/* Устройства с шириной экрана до 767px */
@media (max-width: 767px) {
	
	a.tag, .tag.pag_gallery, .form_elem, .message {
		display: block;
	}
	.tag {
		background-color: rgba(255, 255, 255, .75);	    
	}
	.top_nav, .top_nav_opened {
		display: none;
	}
	.main_menu {
		margin-top: 20px;
	}
	
	.full {
		padding: 20px 0;
	}
	.full_container {
		background-image: none;
	}
	.line_container {
		filter: none;
		background-image: none;
		background-color: rgba(241, 236, 233, .8);
	}

	.line_container h2 {
	    line-height: 30px;
	}
	footer a {
		 padding-bottom: 0px;
	}
	.about_company { 
		margin-top: 40px;
	}
	.social {
		margin-top: 40px;
	}

	.logo_foot {
		margin-top: 40px;
		display: inline-block;
	}
	/* Наши коты */

	.description_cat {
		margin-top: 13px;
	}

	.increase_photo {
		overflow-y: auto;
    	-webkit-overflow-scrolling: touch;
	}
	div.item_photo {
   		width: 100%;
	    opacity: 1;
	    background-size: cover;
	    position: relative;
	    top: 0;
	    left: 0;
	    margin: 0;
	    height: 85%;
	    border: 1px rgb(255, 255, 255) solid;
	    min-height: 650px;
	    background-color: rgba(255, 255, 255, .8);
	}

	.prev_photo, .next_photo {
		display: none;
	}

	.burger {
		cursor: pointer;
	    z-index: 113;
	    background-color: rgba(255, 255, 255, 0.75);
	    border-radius: 3px;
	    top: 4%;
	    left: 10px;
		display: inline-block;
		position: fixed;
	    padding: 0;
	    width: 40px;
	    height: 35px;
	    font-size: 0;
	    transition: opacity .4s ease, visibility .4s ease;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.description_cat {
		margin-top: 13px;
	}
}