@media (hover: hover) {
	.cat_a_mouse {
   		transform: translateY(15%) rotate(59deg);
	}

	.cat_container:hover + .cat_a_mouse {
	 transform: translateX(-70%) rotate(45deg);
	}
	.cat_container {
		width: 80px;
	    height: 125px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	}

	.cat_find_name, .cat_find_layer {
		opacity: 0;
	    width: 100%;
	    position: absolute;
	    left: 0;
	}
	.cat_find_name {
	    top: 60%;
	    z-index: 91;
	    transition: opacity .55s ease, top .65s;
	}

	/* Наложение белого слоя (решение для поддержки всех браузеров) */
	.cat_find_layer {
	    height: 100%;
	    top: 0;
	    z-index: 90;
	    background-color: rgba(255, 255, 255, .75); 
	    transition: opacity .45s ease;
	}
	.cat_find_block:hover .cat_find_layer, .cat_find_block:hover .cat_find_name, .cat_find_name_view, .cat_find_layer_view {
	    opacity: 1;
	}

	.cat_find_block:hover .cat_find_name {
		top: 50%;
	}
}
@media (min-width: 992px) {
	.full {
		position: relative;
	}

	.full_container, .line_container {
		background-image: url(../img/cat.jpg);
	    background-size: cover;
	    background-attachment: fixed;
	    background-position: 25%;
	    background-repeat: no-repeat;
	    width: 100%;
	} 
	.full_container {
		height: 600px;
	    filter: brightness(90%);
	    position: relative;
	}

	.line_container {
		position: absolute;
		z-index: 10;
	    width: 100%;
	    filter: brightness(100%);
	    height: 80px;
	    top: 40%;
	}

	.line_container h2 {
		padding-top: 28px;
		text-align: right;
	}
}
/* Устройства с шириной экрана от 768px до 1200px */
@media (min-width: 768px) and (max-width: 1200px) {

	.slider img {
		width: 100%;
	}
	.line_container {
		filter: none;
		background-image: none;
		background-color: rgba(227, 235, 236, 0.7);
	}
	.social img:first-child {
		padding-left: 0;
	}

	/* Наши коты */

}

/* Устройства с шириной экрана до 767px */
@media (max-width: 767px) {
	
	a.tag, .tag.pag_gallery {
		display: block;
	}
	.tag {
		background-color: rgba(255, 255, 255, .75);	    
	}
	.mobile_list {
		visibility: visible;
	}
	.top_nav, .top_nav_opened {
		display: none;
	}
	.slider img {
		width: 100%;
	}
	.main_menu {
		margin-top: 20px;
	}
	
	.full_container {
		background-image: url(/static/catsekb/dist/img/cat.jpg);
		background-position: 25%;
	}
	.line_container {
		filter: none;
		background-image: none;
		background-color: rgba(241, 236, 233, .8);
	}

	footer a {
		 padding-bottom: 0px;
	}
	.about_company { 
		margin-top: 40px;
	}
	.social {
		margin-top: 40px;
	}

	.logo_foot {
		margin-top: 40px;
		display: inline-block;
	}
	/* Наши коты */

	.description_cat {
		margin-top: 13px;
	}

	.increase_photo {
		overflow-y: auto;
    	-webkit-overflow-scrolling: touch;
	}
	div.item_photo {
   		width: 100%;
	    opacity: 1;
	    background-size: cover;
	    position: relative;
	    top: 0;
	    left: 0;
	    margin: 0;
	    height: 85%;
	    border: 1px rgb(255, 255, 255) solid;
	    min-height: 650px;
	}

	.prev_photo, .next_photo {
		display: none;
	}

	.form_elem {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.description_cat {
		margin-top: 13px;
	}
}