/* <---------- .about BEGIN ----------> */
.about {
	position: relative;
}

.cat_section {
    height: 450px;
}
.full {
    background-image: url(../img/cat.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 22%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    z-index: -1;
}

.line_container {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 80px;
    top: 40%; 
}

.line_container h2 {
    padding-top: 28px;
    text-align: right;
}

.cat_container {
    width: 80px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 10;
}
.cat_a_mouse {
    height: 90px;
    position: absolute;
    visibility: visible;
    top: 35px;
    left: 0;
    z-index: 9;
    transform: translateX(-40%) rotate(59deg);
    transition: transform .55s ease;
}

.about .tag {
    padding: 0;
    display: inline;
    background-color: #fdf9f9;
}

.can-hover .cat_container:hover + .cat_a_mouse {
    transform: translateX(-115%) rotate(45deg);
}

/* <---------- .about END ----------> */
.find_container {
  overflow-y: hidden;
  position: relative;
}

.find_container input {
    margin-top: 75px;
    position: relative;
    z-index: 1;
}
.cat_find {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    height: 90px;
    z-index: 0;
    transition: transform .65s ease;
}
.can-hover .find input:hover + .cat_find {
    transform: translateY(-89%);
    position: absolute; 
    transition: transform .65s ease;  
}
