/* <---------- .about BEGIN ----------> */
.about {
	position: relative;
}

.line_container h2 {
    padding-top: 28px;
    text-align: right;
}

.cat_container {
    width: 80px;
    height: 150px;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
}
.cat_a_mouse {
    height: 90px;
    position: absolute;
    visibility: visible;
    top: 40px;
    left: -45px;
    z-index: 9;
    transform: rotate(59deg);
    transition: transform .5s ease;
}

.about .tag {
    padding: 0;
    display: inline;
    background-color: #fdf9f9;
}

.can-hover .cat_container:hover + .cat_a_mouse {
     transform: translateX(-70%) rotate(45deg);
}

/* <---------- .about END ----------> */
