{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# object #}
{# shelter_caption #}
{# page #}
{# feed_per_page #}
{# feed_url #}
{# recommendations #}
{% extends "catsekb_page/base.html" %}

{% block base_body %}
    <section class="font line_height">
    {% include 'articles/widgets/article.html' with object=object %}
    {% if page %}
        {% load app_filters %}
        {% load verbose_names %}

         {% if page.has_previous %}
            {% with previous_object=page.paginator.object_list|return_item_by_index:page.previous_page_number%}
                <div class="mid">
                    <a href="{{ previous_object.get_absolute_url }}#anchor_caption" class="tag">Предыдущий пост "{{ previous_object.title }}"</a>
                </div>
            {% endwith %}
        {% endif %}
        {% if feed_per_page and feed_url %}
            <div class="mid">
                <a href="{{ feed_url }}?page={% return_page_by_object page.paginator.object_list object feed_per_page %}#anchor_caption" class="tag">Вернуться к списку</a>
            </div>
        {% endif %}
        {% if page.has_next %}
            {% with next_object=page.paginator.object_list|return_item_by_index:page.next_page_number %}
                <div class="mid">
                    <a href="{{ next_object.get_absolute_url }}#anchor_caption" class="tag">Следующий пост "{{ next_object.title }}"</a>
                </div>
            {% endwith %}
        {% endif %}
    {% endif %}
    </section>
    
    {% if recommendations %}
    <section class="font line_height">
        {% include 'cats/widgets/caption.html' with caption='Другие посты' %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {% for article in recommendations %}
                        {% include 'articles/widgets/article_preview.html' with object=article cs=6 cm=6 cmo=0 cl=6 clo=0 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}


{% endblock base_body %}

{% block header %}
     {% with "catsekb/dist/img/header_articles.jpg" as background_image_file %}
        {% with object as background_image %}
            {{ block.super }}
        {% endwith %}
     {% endwith %}
{% endblock header %}