{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# objects #}
{# page_obj #}
{# caption #}
{% extends "cats/base.html" %}

{% block base_body %}
<section>
    {% include 'cats/widgets/caption.html' with caption=caption %}
    {% for object in object_list %}
        {% if object.subject %}
            {% include 'articles/widgets/article_preview.html' with object=object subject_key="Тема" %}
        {% else %}
            {% include 'articles/widgets/article_preview.html' with object=object %}
        {% endif %}
    {% empty %}
        <p>Новостей еще нет.</p>
    {% endfor %}
    {% if page_obj %}
            {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="tag">Предыдущий</a>
            {% else %}
                    <span class="tag no_active">Предыдущий</span>
            {% endif %}


            {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number}}" class="tag">Следующий</a>
            {% else %}
                    <span class="tag no_active">Следующий</span>
            {% endif %}
    {% endif %}
</section>
{% endblock base_body %}
