{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# objects #}
{# page_obj #}
{# caption #}
{% extends "cats/base.html" %}

{% block base_body %}
<section class="font">
    {% include 'cats/widgets/caption.html' with caption=caption %}
    <div class="hide_anchor" id="anchor_{{ object.id }}">
    </div>
    <div class="line_height">
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                    {% include 'articles/widgets/article_preview_validation.html' with object=object %}
                {% empty %}
                    <p>Здесь пока пусто...</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if page_obj %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                <div class="mid">
                {% if page_obj.paginator.num_pages > 1 %}
                    <span>Страница: {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

                    <p class="pagination_cats mid">
                    {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}#anchor_caption" class="tag">Назад</a>
                    {% else %}
                            <span class="tag no_active">Назад</span>
                    {% endif %}

                    <a href="?per_page=all#anchor_caption" class="tag">Показать всё</a>


                    {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number}}#anchor_caption" class="tag">Далее</a>
                    {% else %}
                            <span class="tag no_active">Далее</span>
                    {% endif %}
                    </p>
                {% else %}
                    <a class="tag pag_gallery no_active">Назад</a>
                    <a class="tag pag_gallery no_active">Показать всё</a>
                    <a class="tag pag_gallery no_active">Далее</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock base_body %}

{% block header %}
     {% with "catsekb/dist/img/header_news.jpg" as background_image_file %}
            {{ block.super }}
    {% endwith %}
{% endblock header %}
