{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# object_list #}
{# find_cat #}
{% extends "cats/base.html" %}

{% block base_body %}
	<section class="font mid">   
    {% include 'cats/widgets/caption.html' with caption="Важно!" %}
    {% include 'articles/widgets/article_preview.html' with object=find_cat %}
    </section>   
    
        {% for object in object_list %}
        	<section class="font mid">    
            {% include 'cats/widgets/caption.html' with caption=object.name %}
            {% for article in object.article_set.all|slice:":3" %}
                {% if forloop.counter < 3 %}
                    {% include 'articles/widgets/article_preview.html' with object=article %}
                {% else %}
                    <a href="{{ object.get_absolute_url }}#anchor_cat" class="tag">Смотреть еще</a>
                {% endif %}
            {% endfor %}
        	</section>
        {% endfor %}
    
{% endblock base_body %}