{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# object_list #}
{# find_cat #}
{% extends "cats/base.html" %}

{% block base_body %}
	<section class="font line_height">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
                    {% include 'cats/widgets/caption.html' with caption="Важно!" %}
                    {% include 'articles/widgets/article_preview.html' with object=find_cat %}
                    {% for object in object_list %}
                        {% include 'cats/widgets/caption.html' with caption=object.name %}
                        {% for article in object.article_set.all|slice:":3" %}
                            {% if forloop.counter < 3 %}
                                {% include 'articles/widgets/article_preview.html' with object=article %}
                            {% else %}
                                <a href="{{ object.get_absolute_url }}">Смотреть еще</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
			    </div>
			</div>
		</div>
    </section>
{% endblock base_body %}