{# group_list #}
{# helpful_info_list #}
{# background_image #}
{# background_image_file #}
{# active_menu #}
{# extra_title #}

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{% endblock meta %}
    {% block base_title %}
    <title>
        {% block title %}CatsEkb{% if extra_title %} - {{ extra_title }}{% endif %}{% endblock title %}
    </title>
    {% endblock base_title %}


    {# Bootstrap CSS #}
    {% block bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static "catsekb/dist/css/bootstrap.min.css" %}">
    {% endblock bootstrap_css %}

    {# Base CSS #}
    {% block base_css %}
        <link rel="stylesheet" type="text/css" href="{% static "catsekb/dist/css/base.min.css" %}">
    {% endblock base_css %}   

    {# Custom CSS #}
    {% block css %}{% endblock css %}


    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}

</head>
<body {% block body_attr %}{% endblock body_attr %}>

    {# Top navigation bar #}

    {% block topbar %}
        {% include 'cats/topbar.html' with groups=group_list helps=helpful_info_list active_menu=active_menu %}
    {% endblock topbar %}

    {# Header #}
    {% block header %}
        {% include 'cats/header.html' with groups=group_list helps=helpful_info_list background_style=background_image.get_background_style background_image_file=background_image_file active_menu=active_menu %}
    {% endblock header %}

    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}

    {# Footer #}
    {% block footer %}
        {% include 'cats/footer.html' %}
    {% endblock footer %}


    {# JQuery #}
    {% block jquery_js %}
        <script type="text/javascript" src="{% static "catsekb/dist/js/jquery-3.2.1.slim.js" %}"></script>
    {% endblock jquery_js %}

    {# Bootstrap #}
    {% block bootstrap_js %}
        <script type="text/javascript" src="{% static "catsekb/dist/js/bootstrap.min.js" %}"></script>
    {% endblock %}

    {# Base JS #}
    {% block base_js %}
        <script type="text/javascript" src="{% static "catsekb/dist/js/script.js" %}"></script>
    {% endblock base_js %}

    {# Custom JS #}
    {% block custom_js %}{% endblock custom_js %}

    <!--[if !IE]><!-->
        <script>if(/*@cc_on!@*/false){document.body.classList.add('can-hover')}</script>
    <!--<![endif]-->
</body>
</html>