{% load static %}
<footer class="mid line_height">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">
                <ul class="map_site menu_foot font">
                    <li class="caption">
                        Карта сайта
                    </li>
                    <li>
                        <a href="{% url 'index' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'animal_filter' %}">Наши коты</a>
                    </li>
                    <li>
                        <a href="{% url 'group_list' %}">Группы</a>
                    </li>
                    <li>
                        <a href="{% url 'subjects' %}">Полезная информация</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0  col-lg-2 col-lg-offset-0">
                <ul class="about_company menu_foot font">
                    <li class="caption">
                        Помощь проекту
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}">Помощь приюту</a>
                    </li>
                    <li>
                        <a href="#">Помощь разработчикам</a>
                    </li>
                    <li>
                        <a href="#">Предложения и пожелания</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-4 col-md-offset-0  col-lg-4 col-lg-offset-0">
                <ul class="social menu_foot font">
                    <li class="caption">
                        Мы в соцсетях
                    </li>
                    <li>
                        <a href="https://vk.com/catsekb_vk" target="_blank">
                            <img src="{% static 'catsekb/dist/img/vk_icon.png' %}">
                        </a>
                        <a href="https://www.instagram.com/catsekb/" target="_blank">
                            <img src="{% static 'catsekb/dist/img/instagram_icon.png' %}">
                        </a>
                        <a href="https://www.facebook.com/cats.ekb" target="_blank">
                            <img src="{% static 'catsekb/dist/img/facebook_icon.png' %}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
                <div class="logo_foot">
                    <a href="{% url 'index' %}"><img src="{% static 'catsekb/dist/img/logo_footer.png' %}" class="img-responsive foot_img"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="copyright">
                    <span>
                         © 2017. Все права защищены
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>