{# groups #}
{# helps #}
{# class #}
{# background_style #}
{% load static %}
<header{% if background_style %} style="{{ background_style }}"{% elif class %} class={{ class }}{% else %} class="index"{% endif %}>
    <div class="header_layer">
        <div class="container-fluid">
            <div class="row">
                    <div class="main_menu mid">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'catsekb/img/logo.png' %}" class="logo">
                        </a>
                        <h1>
                            Возьми кота домой!
                        </h1>
                    </div>
                <div class="hidden-xs col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
                    <nav class="font">
                        <ul class="menu mid">
                            {% include "cats/menu_sections.html" with menu_class='menu_opening' %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>