{# groups #}
{# helps #}
{# active_menu #}
{# background_style? #}
{# background_image_file? #}
{% load static %}
<header style="
    {% if background_style %}
        {{ background_style }}
    {% else %}
        background-image: url({% static background_image_file|default:"catsekb/img/header_index.jpg" %});
    {% endif %}
">
    <div class="header_layer">
        <div class="container-fluid">
            <div class="row">
                    <div class="main_menu mid">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'catsekb/img/logo.png' %}" class="logo">
                        </a>
                        <h1>
                            Возьми кота домой!
                        </h1>
                    </div>
                <div class="hidden-xs col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
                    <nav class="font">
                        <ul class="menu mid">
                            {% include "cats/menu_tabs.html" with menu_class='menu_opening' active_menu=active_menu groups=groups helps=helps %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>