{# active_menu [index, animal, helpful, contacts] #}
{# groups #}
{# helps #}
{# menu_class #}

{% url 'index' as index_url %}
{% include "cats/menu_tab.html" with name='index' active=active_menu abs_url=index_url url_caption='Главная' %}

{% url 'animal_filter' as filter_url %}
{% include "cats/menu_tab.html" with name='animals' active=active_menu abs_url=filter_url url_caption='Наши коты' menu_items=groups menu_class=menu_class %}

{% url 'helpful_info_list' as helpful_url %}
{% include "cats/menu_tab.html" with name='helpful' active=active_menu abs_url=helpful_url url_caption='Полезная информация' menu_items=helps menu_class=menu_class %}

{% url 'contacts' as cont_url %}
{% include "cats/menu_tab.html" with name='contacts' active=active_menu abs_url=cont_url url_caption='Контакты' %}

<!-- # T0D0: Засунуть эту ссылку в полезную информацию, ибо в других местах смотрится неочень # -->
<!-- 
<li>	
	<a href="#" class="font">
		Я нашел кота...
	</a>
</li> -->