{# groups #}
{# helps #}
{# active_menu #}

{% load static %}


<div class="top_nav">
    <nav class="mid font">
        <ul class="mobile_list">
            <li>
                <ul class="mobile_list_1">
                    {% include "cats/menu_tabs.html" with menu_class='mobile_list_opening' active_menu=active_menu groups=groups helps=helps %}
                </ul>
            </li>
            <li>
               <div class="mobile_menu mid">
                    <img src="{% static 'catsekb/dist/img/menu.png' %}" alt="">
                </div>
            </li>
        </ul>
    </nav>

    <div class="nav_bar">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
                    <div class="logo_top_nav">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'catsekb/dist/img/logo.png' %}" class="top_logo">
                        </a>

                    </div>
                </div>
                <div class="hidden-xs col-sm-10 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-4">
                    <nav class="font">
                        <ul class="menu top_menu">
                            {% include "cats/menu_tabs.html" with menu_class='menu_opening top_menu' active_menu=active_menu groups=groups helps=helps %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>