[Unit]
Description=catsekb.ru postgres container
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill catsekb.ru-postgres
ExecStartPre=-/usr/bin/docker rm catsekb.ru-postgres
ExecStart=/usr/bin/docker run \
        --rm \
        --name catsekb.ru-postgres \
        -e POSTGRES_NAME=catsekb \
        -e POSTGRES_USER=catsekb \
        -e POSTGRES_PASSWORD=PASSWD \
        --network=mw \
        -v /srv/catsekb.ru/postgres:/var/lib/postgresql/data \
        postgres:11.2
ExecStop=/usr/bin/docker stop catsekb.ru-postgres
Restart=on-failure

[Install]
WantedBy=default.target
