[Unit]
Description=catsekb.ru django project docker container
Requires=docker-catsekb.ru-postgres.service
After=docker-catsekb.ru-postgres.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill catsekb.ru
ExecStartPre=-/usr/bin/docker rm catsekb.ru
ExecStart=/usr/bin/docker run \
        --rm \
        --name catsekb.ru \
        --network=mw \
        -v /srv/catsekb.ru/:/srv/ \
        catsekb.ru:latest
ExecStop=/usr/bin/docker stop catsekb.ru
Restart=on-failure

[Install]
WantedBy=default.target
