{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# object #}
{% extends "catsekb/base.html" %}

{% block base_body %}
    <section class="font line_height">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption="Контакты" %}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					{{ object|safe }}
					<ul class="contacts">
						<li>
							<h3>Разработчики сайта</h3>
						</li>
						<li>
							Front-end, дизайн: <b>Киселев Максим</b>
						</li>
						<li>
							<a title="WhatsApp" href="whatsapp://send?phone=+79506370164">WhatsApp</a>
							<a title="Telegram" href="tg://resolve?domain=MaximKisseloff">Telegram</a>
						</li>
						<li>
							Back-end: <b>Ураков Максим</b>
						</li>
						<li>
							<a title="Telegram" href="tg://resolve?domain=Maks_Ur">Telegram</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
  {% include 'cats/widgets/url_button.html' with button_label='Обратная связь' animation=False button_url='https://docs.google.com/forms/d/e/1FAIpQLSf7Iy83Sh1DVjts6YXCeaI7rRTlnR8TJrohxJyddBpEQoKYvQ/viewform'%}
	</section>




{% endblock base_body %}

{% block header %}
	{# TODO: Подобрать изображение #}
     {% with "catsekb/dist/img/header_contacts.jpg" as background_image_file %}
            {{ block.super }}
    {% endwith %}
{% endblock header %}
