{# object #}
{# pay_form #}
{% extends "catsekb/base.html" %}

{% block base_body %}
	{% include 'payments/widgets/pay_form.html' with form=pay_form %}
	<section class="font line_height">
		<div class="container">
			{% url 'sms_help' as sms_help_url %}
			{% include 'cats/widgets/caption.html' with caption='Помощь приюту с помощью sms на короткий номер' caption_url=sms_help_url %}
			<div class="article">
				<p class="font mid">Вы можете ознакомиться с короткими номерами и условиями мобильных операторов на <a href="{% url 'sms_help' %}">этой странице</a>.</p>
			</div>
		</div>
	</section>
    <section class="font line_height">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption=caption %}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					{{ object|safe }}
				</div>
			</div>
		</div>
    {% include 'cats/widgets/url_button.html' with button_label='Я хочу помочь' button_url='https://docs.google.com/forms/d/e/1FAIpQLSetvNO5E4WehG0eVTMFDqbdYzO7JlsGWYfbt0dFiCsIMMTElQ/viewform'%}
	</section>
{% endblock base_body %}

{% block header %}
	{# TODO: Подобрать изображение #}
     {% with "catsekb/dist/img/cat_and_dog.jpg" as background_image_file %}
            {{ block.super }}
    {% endwith %}
{% endblock header %}
