{# active_menu [index, animal, helpful, contacts] #}
{# groups #}
{# helps #}
{# menu_class #}

{% url 'index' as index_url %}
{% include "catsekb/menu_tab.html" with name='index' active=active_menu abs_url=index_url url_caption='Главная' %}

{% url 'catsekb_page' as catsekb_url %}
{% include "catsekb/menu_tab.html" with active=active_menu abs_url=catsekb_url url_caption='CatksEkb' %}

{% url 'news' as news_url %}
{% include "catsekb/menu_tab.html" with name='news' active=active_menu abs_url=news_url url_caption='Наши новости' %}

{% url 'help_us' as help_us_url %}
{% include "catsekb/menu_tab.html" with name='help_us' active=active_menu abs_url=help_us_url url_caption='Помощь приюту' %}

{% url 'contacts' as contacts_url %}
{% include "catsekb/menu_tab.html" with name='contacts' active=active_menu abs_url=contacts_url|add:'#anchor_caption' url_caption='Контакты' %}

{# TODO: Лабрадоры #}
{# TODO: Хаски #}
{# TODO: Помощь приюту #}
{# TODO: Контакты #}
