{# object #}
{% extends "catsekb/base.html" %}

{% block base_body %}
    <section class="font line_height">
		<div class="container">
			{% include 'cats/widgets/gallery.html' with object_list=new_animals filter_parameters='?group_id=S' caption=caption caption_url=group_url bottom_text='Посмотреть других котиков' %}
		</div>
	</section>
{% endblock base_body %}

{% block header %}
    {% with "catsekb/dist/img/cat_and_dog.jpg" as background_image_file %}
        {{ block.super }}
    {% endwith %}
{% endblock header %}
