{# for base #}
    {# group_list #}
    {# helpful_info_list #}

{# shelter_animals #}
{# shelter_animals_count #}
{# home_animals_count #}
{# animals_count #}
{# important_news #}
{# articles #}
{# main_video #}

{% extends "huskyekb_page/base.html" %}
{% load static %}
{% block base_body %}

    <div class="about font line_height">
		<div class="cat_container">
		</div>
		<img class="cat_a_mouse" src="{% static "catsekb/dist/img/husky_small.svg" %}">
		<div class="container">
			{% include 'cats/widgets/caption.html' with caption="О нас" %}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="article">
            <p>
                Хаски - сила и скорость, сравниться с которой может только ветер, воплощение духа свободы, воплощение мечты.
            </p>

            <p>
                Красота ледяных глаз  сыграла с ними злую шутку.
                Глянцевые таблоиды, сверкающие киноленты, ламповые блоги сделали этих собак пленниками минутных желаний человека.</br>
                Зачастую принося домой синеглазого щенка люди не представляют и половины трудностей, с которыми им придется столкнуться, чтобы из маленького комочка выросла достойная, здоровая, социализированая собака.
            </p>

            <p>
                Сколько энергии и сил нужно вложить в воспитание этого ребенка, сколько часов нужно будет потратить на обучение, в первую очередь, свое.</br>
                Людей влечет импульс, мода... К сожалению, жертвой этой моды становятся именно собаки.
                Средний возраст собак, попадающих к нам в приют - 1 ГОД! Только вдумайтесь в это число: это ведь ещё щенки. Щенки наигравшихся хозяев, живые сломанные игрушки, выброшенные на помойку за ненадобностью, вывезенные и брошенные в садах, на базах, худые, голодные и часто покалеченные.</br>
                Просто вышедшие из моды аксессуары, больше не подходящие к мебели, образу жизни, детям, новому спутнику...
            </p>

            <p>
                Оказавшись на улице, эти собаки полностью беззащитны. Проведя всю свою жизнь с человеком они не могут адаптироваться, их развитые инстинкты и сила  превращают их в злейших врагов садоводов и фермеров, а неотсупившая мода делает их привлекательными для черных разведенцев. </br>
                К рискам попасть под машину или погибнуть в драке со стаей добавляется целый ряд опасностей: их отстреливают, защищая скот, забирают и используют в качестве аттракционов или превращают в машины по производству никому не нужных щенков, которые в будущем пополняют ряды таких же отказников.
            </p>

            <p>
                В нашем приюте содержится от 25 до 40 собак породы хаски. Каждая из них имеет свою историю, каждая пережила предательство человека.
            </p>

            <p>
                Мы стараемся реагировать на все обращения о помощи, но, к сожалению, наши ресурсы не безграничны.</br>
                Мы верим, что у каждой собаки есть свой человек, и главная задача нашего Фонда - помочь им встретиться!
            </p>

          </div>
				</div>
			</div>
		</div>
	</div>

    {% if shelter_animals_count or home_animals_count %}
        <div class="cat_section">
            <div class="line_container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-lg-10">
                            <h2>
                                {% if shelter_animals_count %}
                                    <span>Ищут дом: {{ shelter_animals_count }} /</span>
                                {% endif %}

                                {% if home_animals_count %}
                                    <span>Пристроено: {{ home_animals_count }}</span>
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full full_husky_image">
            </div>
        </div>
    {% endif %}

    {% if shelter_animals %}
        {% url 'husky_in_shelter' as group_url %}
            {% include 'huskyekb_page/widgets/gallery.html' with object_list=shelter_animals filter_parameters='?group_id=S&project=huskyekb' caption='Ищут дом' caption_url=group_url bottom_text='Посмотреть других хаски' %}
    {% endif %}

    {% if articles %}
        <div class="feed line_height font">
            {% include 'cats/widgets/caption.html' with caption='Полезные статьи' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        {% for article in articles %}
                            {% include 'articles/widgets/article_preview.html' with object=article cs=6 cm=6 cmo=0 cl=6 clo=0 %}
                        {% endfor %}
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="mid">
                                <a href="{% url 'subjects_feed' %}#anchor_caption" class="tag">Посмотреть другие статьи</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if main_video.first %}
        <div class="feed line_height font">
            {% include 'cats/widgets/caption.html' with caption='Наши видео' %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {% include 'articles/widgets/article_preview_validation.html' with object=main_video.first cs=12 cm=12 cmo=0 cl=12 clo=0 %}
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="mid">
                                <a href="{% url 'video' %}#anchor_caption" class="tag">Посмотреть другие видео</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





{% endblock base_body %}
{% block body_attr %}class='index'{% endblock body_attr %}
